<footer class="footer">
  <div class="footer-container">
    <div class="container-btn">
      <a class="footer-logo" href="./index.html">yachtjet</a>
      <ul class="footer-list-btn">
        <li class="footer-btn-item">
          <a class="footer-btn" id="about" href="">About</a>
        </li>
        <li class="footer-btn-item">
          <a class="footer-btn btn-middle" id="yachts" href="">Yachts</a>
        </li>
        <li class="footer-btn-item">
          <a class="footer-btn" id="reviews" href="">Reviews</a>
        </li>
      </ul>
    </div>
    <ul class="footer-icon-list">
      <li class="footer-icon-item">
        <a
          class="footer-icon-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="footer-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-ph_instagram-logo-fill"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon-item">
        <a
          class="footer-icon-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="footer-icon" width="24" height="24">
            <use
              href="../img/icons.svg#icon-entypo-social_youtube-with-circle"
            ></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon-item">
        <a
          class="footer-icon-link"
          href="https://www.facebook.com/goITclub"
          target="_blank"
        >
          <svg class="footer-icon" width="24" height="24">
            <use href="../img/icons.svg#icon-ic_outline-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <p class="copyright-text">
      2023. Yacht Adventures<a href=""
        ><span class="copyright-text">Privacy Police</span></a
      >
    </p>
  </div>
</footer>
